.header {
  left: 0;
  right: 0;
  top: 0;
  background: #313A5A;
  position: fixed;
  color: white;
  z-index: 3;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header__company {
  font-size: 26px;
  line-height: 2.23;
  font-weight: 500;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}
.header__nav-link {
  font-size: 16px;
  margin-left: 37.5px;
}
.header__nav-link:first-child {
  margin-left: 0;
}
.header__left {
  display: flex;
  align-items: baseline;
}
.header__left-register {
  display: block;
  font-size: 16px;
  line-height: 2;
  margin-left: 38.5px;
}

header + nav {
  padding-top: 33px;
}

.hero-section {
  background: #313A5A;
  color: #FFFFFF;
}
.hero-section__wrapper {
  display: flex;
  justify-content: space-between;
}
.hero-section__nav {
  align-self: center;
}
.hero-section__nav-title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.1875;
  width: 450px;
  margin-bottom: 40px;
}
.hero-section__nav-description {
  min-height: 128px;
  width: 553px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 35px;
}
.hero-section__nav-get-started {
  padding: 20px 47.5px 19px 46.5px;
  font-size: 18px;
}
.hero-section__smartphone {
  padding-top: 128px;
  align-self: center;
}

.benefits {
  background: #FFFFFF;
  border-radius: 10px;
  color: #031D5B;
  box-shadow: 0px 10px 34px rgba(210, 210, 210, 0.5);
  z-index: 2;
  position: relative;
  top: -110px;
}
.benefits__list {
  display: flex;
  justify-content: space-around;
  padding-top: 66px;
  padding-bottom: 88px;
}
.benefits__item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  padding: 16px;
  border-radius: 6px;
  background-color: rgba(31, 219, 132, 0.1);
}
.benefits__item-heading {
  color: #031D5B;
  padding-top: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.166;
}
.benefits__item-description {
  width: 300px;
  color: #5B6C94;
  font-size: 16px;
  line-height: 2;
}
.benefits__item-image + img {
  max-width: 40px;
  max-height: 34px;
  width: 100%;
  height: auto;
}

hr {
  background-color: #1FDB84;
  color: #1FDB84;
  margin-left: 0;
  height: 4px;
  width: 60px;
  border: none;
  margin-top: 29px;
  margin-bottom: 18px;
}

.pricing__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  line-height: 1.6;
  font-weight: 500;
  color: #32325C;
  text-align: center;
  width: 65%;
}
.pricing__plan-wrapper {
  display: flex;
  justify-content: center;
}
.pricing__plan {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 500;
  border: 1px solid #AEFDD9;
  margin-top: 60px;
  margin-bottom: 60px;
}
.pricing__plan-monthly {
  color: #6FDEAA;
  background: #FFFFFF;
  padding: 20px 36px;
}
.pricing__plan-yearly {
  color: #6FDEAA;
  letter-spacing: 2px;
  padding: 21px 31px 20px 43px;
  background: #F1FFF8;
  border-left: 1px solid #AEFDD9;
}
.pricing__tarif {
  display: flex;
  justify-content: space-between;
}

.background-card {
  background: #FFFFFF;
  box-shadow: 0px 7px 24px rgba(83, 83, 83, 0.1);
  border-top: 3px solid #0A8AFF;
}

.testimonials__wrapper {
  position: relative;
  margin-top: 280px;
}
.testimonials__title {
  max-width: 25%;
  position: absolute;
  color: #031D5B;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  top: 10%;
  left: 2%;
}
.testimonials__quotes-one {
  padding-right: 48px;
  color: rgba(31, 219, 132, 0.1);
}
.testimonials__quotes-two {
  color: rgba(31, 219, 132, 0.1);
}
.testimonials__card {
  display: flex;
  max-width: 40%;
  color: #FFFFFF;
}
.testimonials__card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials__card-qoutes {
  display: flex;
  padding-top: 80px;
  padding-left: 0;
}
.testimonials__card-text {
  font-size: 18px;
  line-height: 2;
  max-width: 70%;
}
.testimonials__card-singature {
  display: flex;
  justify-content: center;
  padding-bottom: 63px;
  padding-top: 42px;
}
.testimonials__card-singature-autor {
  padding-right: 9px;
}

.green {
  background-color: #1FDB84;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 33%;
  padding-bottom: 57px;
  padding-top: 56px;
}
.pricing-card__plan {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.33;
  padding-bottom: 31px;
  color: #32325C;
}
.pricing-card__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing-card__tarif {
  display: flex;
  justify-content: space-between;
}
.pricing-card__cost {
  color: #1FDB84;
  font-size: 72px;
  line-height: 0.888;
  padding-bottom: 13px;
}
.pricing-card__per-month {
  color: #5B6C94;
}
.pricing-card__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5B6C94;
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 1.75;
  max-width: 50%;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
.pricing-card__list > li {
  padding-top: 18px;
}
.pricing-card__list > li:first-child {
  padding-top: 0;
}
.pricing-card__start {
  display: block;
  margin-top: auto;
  border: none;
  font-size: 16px;
}

.background-card {
  background: #FFFFFF;
  box-shadow: 0px 7px 24px rgba(83, 83, 83, 0.1);
  border-top: 3px solid #0A8AFF;
}

.button {
  font-style: normal;
  font-weight: 800;
  text-align: center;
  color: #FFFFFF;
  background: #1FDB84;
  border-radius: 5px 0px;
  box-shadow: 0px 8px 34px rgba(31, 219, 132, 0.6);
  transition: 0.5s;
  padding: 21px 47px;
}
.button--small {
  padding: 4px 24.5px 2px 26.5px;
}

.button:hover {
  background: #17aa66;
}

.link {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  height: 4350px;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.wrapper {
  max-width: calc(1177px + 24px + 24px);
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

/*# sourceMappingURL=index.css.map */
