.benefit {
    display: flex;
    align-items: center;
    justify-content: space-around; //???does not work
    background: #FFFFFF;
    border-radius: 10px;
    color: #031D5B;
    box-shadow: 0px 10px 34px rgba(210, 210, 210, 0.5);
    height: 420px;
     
    &__wrapper {
        
        
    }
}

.item-grid {
    display: flex;
   
    &__first-image {
        background-image: url(/image/Rectangle.png);
        
    }
    &__first-header-text {
        color: #031D5B;
        padding-top: 26px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
    &__first-main-text {
        width: 300px; 
        color: #5B6C94;
        font-size: 16px;
        line-height: 32px;
     }
    &__second-header-text {
        color: #031D5B;
        padding-top: 26px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
    &__second-main-text {
        width: 300px;
        color: #5B6C94;
        font-size: 16px;
        line-height: 32px;
    }
    &__third-header-text {
        color: #031D5B;
        padding-top: 26px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
    &__third-main-text {
        width: 300px;
        color: #5B6C94;
        font-size: 16px;
        line-height: 32px;
    }
}
hr {
    background-color: #1FDB84;
    color: #1FDB84;
    text-align: left; // does not work
    height: 4px;
    width: 60px;
    border: none;
    margin-top: 29px;
    margin-bottom: 18px;
}
.image {
    position: absolute;
    top: 0;
    left: 0;
}
.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rbga(#1FDB84, 0.1);
    background-size: contain;
    width: 72px;
    height: 72px;
    border-radius: 6px;
}

