.benefits {
    background: #FFFFFF;
    border-radius: 10px;
    color: #031D5B;
    box-shadow: 0px 10px 34px rgba(210, 210, 210, 0.5);
    z-index: 2;
    position: relative;
    top: -110px;

    &__list {
        display: flex;
        justify-content: space-around;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    &__item-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 72px;
        padding: 16px;
        border-radius: 6px;
        background-color: rgba(#1FDB84, 0.1);
    }

    &__item-heading {
        color: #031D5B;
        padding-top: 26px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.166;
    }

    &__item-description {
        width: 300px;
        color: #5B6C94;
        font-size: 16px;
        line-height: 2;
    }

    &__item-image+img {
        max-width: 40px;
        max-height: 34px;
        width: 100%;
        height: auto;
    }
}

hr {
    background-color: #1FDB84;
    color: #1FDB84;
    height: 4px;
    width: 60px;
    border: none;
    margin-top: 29px;
    margin-bottom: 18px;
}