.benefit {
    background: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    color: #031D5B;
    box-shadow: 0px 10px 34px rgba(210, 210, 210, 0.5);
    height: 420px;
    left: 92px;
    top: 810px;
}