.footer {
    flex: 0 0 auto;
    text-align: center;
    color: $footer-text-color;
    @include text-settings($line-height: 2);
    padding-bottom: 114px;
    padding-top: 100px;
    &__text {
        padding-bottom: 50px;
    }

    &__nav-link {
        text-decoration: none;
        color: $footer-text-color;

    }

    &__nav-link:not(:last-child)::after {
        content: '/';
        padding-left: 15px;
        padding-right: 10px;
    }
    @media (max-width: 900px) {
        padding-top: 0;
        padding-bottom: 0;
        &__text {
            padding-bottom: 25px;
            padding-top: 25px;
        }
        &__nav {
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        &__nav-link::after {
           display: none;
        }
        display: flex;
        flex-direction: column-reverse;
    }
}