.header {
    left: 0;
    right: 0;
    top: 0;
    background: #313A5A;
    position: fixed;
    color: white;
    z-index: 3;
   padding-top: 12px; 
   padding-bottom: 12px;
   
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    &__company {
        font-size: 26px;
        line-height: 2.23;
        font-weight: 500;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    &__nav-link {
        font-size: 16px;
        margin-left: 37.5px;
    }
    &__nav-link:first-child {
        margin-left: 0;
    }
    &__left {
        display: flex;
        align-items: baseline; 
    }
    &__left-register {
        display: block;
        font-size: 16px;
        line-height: 2;
        margin-left: 38.5px;
    }
}


header + nav {
    padding-top: 33px;
}