body {
    font-family: Rubik;
    height: 2000px;
    margin: 0;
}
.header {
    display: flex;
    position: absolute;
    top: 0;
    background: #313A5A;
    color: white;
    justify-content: space-between;
    padding: 25px 132px 0 131px;
    align-items: baseline;
    
    &__company {
        height: 58px;
        left: 9.1%;
        right: 82.92%;
        top: calc(50% - 58px/2 - 2121px);
        font-size: 26px;
        line-height: 58px;
        font-weight: 500;
        padding-right: 296px;
    }
    &__nav {
        
    }
    &__nav-link {
        margin-left: 37.5px;
    }
    &__nav-link:first-child {
        margin-left: 0;
    }
    &__login {
       padding-left: 210px; 
    }
    &__register {
        padding: 4px 24.5px 2px 26.5px;
        font-size: 18px;
        line-height: 34px;
    }
}
.wrapper {
    position: fixed;
    left: 0;
    width: 85%;  /* ??? */
}
.link {
    text-decoration: none;
    color: white;
}
.header__register {
    border-radius: 5px 0px;
}