.header {
    left: 131px;
    right: 132px;
    top: 25px;
    background: #313A5A;
    position: fixed;
    color: white;
    z-index: 3;
    //margin-top: 25px; 
   
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline; 
        
    }
    &__company {
        font-size: 26px;
        line-height: 58px;
        font-weight: 500;
        padding-right: 296px;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
    }
    &__nav-link {
        font-size: 16px;
        margin-left: 37.5px;
    }
    &__nav-link:first-child {
        margin-left: 0;
    }
    &__login {
       padding-left: 210px; 
    }
    &__register {
        padding: 4px 24.5px 2px 26.5px;
        font-size: 16px;
        line-height: 34px;
        margin-left: 38.5px;
    }
}
.wrapper {
    max-width: 1177px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

//.header + hero-section:first-child {
//    padding-top: 33px;
//}
