.hero-section {
    background: #313A5A;
    color: #FFFFFF;
    
    &__wrapper {
        display: flex;
        justify-content: space-between;   
    }
    &__nav {
        align-self: center;
    }
    &__nav-title {
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 57px;
        width: 450px;
        margin-bottom: 40px;
    }
    &__nav-description { 
        min-height: 128px;
        width: 553px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 35px;
    }
    &__nav-get-started {
        padding: 20px 47.5px 19px 46.5px;
        font-size: 18px;
    }
    &__smartphone {
        padding-top: 128px;
        align-self: center;
        
    }
    
}