.hero-section {
    background: $hero-section-bg-color;
    color: $hero-section-text-color;

    &__wrapper {
        @include flex-space-between;
    }

    &__text {
        align-self: center;
    }

    &__text-title {
        @include text-settings($font-h1, 500, 1.1875);
        max-width: 500px; // это много? или заменить на vw?
        padding-bottom: 40px; //поменял на паддинг
    }

    &__text-description {
        max-width: 553px; // тот же вопрос
        @include text-settings($line-height: 2);
        padding-bottom: 35px; 
    }

    &__text-get-started {
        display: inline-block;
        padding: 20px 47.5px 19px 46.5px;
        font-size: 18px;
    }

    &__smartphone {
        padding-top: 128px;
        align-self: center;

    }

    @media (max-width: 900px) {
    &__smartphone {
        display: none;
    }
    &__text {
        padding-bottom: 35px; 
    }
    &__wrapper {
        padding-top: 80px;
    }
    }
}

