.pricing {
  
    &__title {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        line-height: 1.6;
        font-weight: 500;
        color: $pricing-title-color;
        text-align: center;
        width: 65%;
        padding-bottom: 60px;
    }
    &__plan-wrapper {
        display: flex;
        justify-content: center;
    }
    &__plan {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        border-radius: 5px;
        font-size: 16px;
        line-height: 1.1875;
        font-weight: 500;
        border: 1px solid $pricing-plan-border-color;
        
    }
    &__plan-monthly {
        color: $bermuda;
        background: $plan-monthly-bg;
        padding: 20px 36px;
        border-radius: 5px 0px 0px 5px;
    }
    &__plan-yearly {
        color: $bermuda;
        letter-spacing: 2px;
        padding: 21px 31px 20px 43px;
        background: #F1FFF8;
        border-left: 1px solid $pricing-plan-border-color;
        border-radius: 0px 5px 5px 0px;
    }
    &__tarif {
        display: flex;
        justify-content: space-between;
        padding-top: 4vw;
        padding-bottom: 3.1vw;
    }
    @media (max-width: 900px) {
        padding-top: 70px;
        &__title {
            font-size: 30px;
        }
        &__plan {
            font-size: 12px;
        }
        &__plan-monthly {
            padding: 10px 16px;
        }
        &__plan-yearly {
            padding: 10px 15px 10px 20px;
        }
        &__tarif {
            flex-direction: column;
            align-items: center;
        }
    }
   
}
.background-card {
    background: $pricing-card-bg-color;
    box-shadow: 0px 7px 24px rgba(83, 83, 83, 0.1);  
    border-top: 3px solid $pricing-card-border-color;
}