.pricing {
  
    &__title {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        line-height: 1.6;
        font-weight: 500;
        color: #32325C;
        text-align: center;
        width: 65%;
        padding-bottom: 60px;
    }
    &__plan-wrapper {
        display: flex;
        justify-content: center;
    }
    &__plan {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        border-radius: 5px;
        font-size: 16px;
        line-height: 1.1875;
        font-weight: 500;
        border: 1px solid #AEFDD9;
       // margin-top: 60px; заменил на паддинг в title
      //  margin-bottom: 64px;
    }
    &__plan-monthly {
        color: #6FDEAA;
        background: #FFFFFF;
        padding: 20px 36px;
    }
    &__plan-yearly {
        color: #6FDEAA;
        letter-spacing: 2px;
        padding: 21px 31px 20px 43px;
        background: #F1FFF8;
        border-left: 1px solid #AEFDD9;
    }
    &__tarif {
        display: flex;
        justify-content: space-between;
        padding-top: 4vw;
        padding-bottom: 3.1vw;
    }
   
}
.background-card {
    background: #FFFFFF;
    box-shadow: 0px 7px 24px rgba(83, 83, 83, 0.1);  
    border-top: 3px solid  #0A8AFF;
}