.partners {
  flex: 0 0 auto;
  padding-bottom: 80px;
  padding-top: 12.5vw;
  padding-bottom: 80px;

  &__cross-platform {
    text-align: center;
    padding-bottom: 46.68px;
    font-size: 16px;
    line-height: 1.1875;
    font-weight: 500;
    color: #031D5B;

  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
  }

  @media (max-width: 900px) {
    }
    &__wrapper {
      flex-direction: column;
    }
    &__wrapper img:not(:last-child) {
      padding-bottom: 20px;
    }
}

.content {
  flex: 1 0 auto;
}