.partners {
  // flex: 0 0 auto;
  padding-bottom: 80px;
  
    &__cross-platform {
        padding-top: 12.5vw;
        text-align: center;
        padding-bottom: 46.68px;
        font-size: 16px;
        line-height: 1.1875;
        font-weight: 500;
        color: #031D5B;

    }
    &__wrapper {
       display: flex;
       justify-content: space-between;


    }
}
/*
.content {
   // flex: 1 0 auto;
   //min-height: calc(100vh - 80px);
   display: table-row;
   height: 100%;
}

.footer {
   // flex: 0 0 auto;
}
/*.footer {
    //flex: 0 0 auto;
    height: 50px; 
 background: black;
 position: absolute;
 bottom: 0;
 width: 100%;
}*/