.pricing-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 33%;
    padding-bottom: 57px;
    padding-top: 56px;

    &__plan {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 2px; //?
        line-height: 1.33;
        padding-bottom: 31px;
        color: #32325C;
    }
    &__card-title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__tarif {
        display: flex;
        justify-content: space-between;
    }
    &__cost {
        color: #1FDB84;
        font-size: 72px;
        line-height: 0.888;
        padding-bottom: 13px;
    }
    &__per-month {
        color: #5B6C94;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #5B6C94;
        letter-spacing: 0.1px;
        font-size: 16px;
        line-height: 1.75; 
        max-width: 50%;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }
    &__list  > li {
        padding-top: 18px;
    }
    &__list > li:first-child {
         padding-top: 0;
    }
    &__start {
        display: block;
        padding: 21px 47px;
        margin-top: auto;
    }
}
.background-card {
    background: #FFFFFF;
    box-shadow: 0px 7px 24px rgba(83, 83, 83, 0.1);  
    border-top: 3px solid  #0A8AFF;
}

