.testimonials {
    &__title {
        color: #031D5B;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.2;
    }
    &__title-background {
        position: absolute;
        width: 165px;
        height: 413px;
        background: linear-gradient(180deg, rgba(31, 219, 132, 0.1) -3.47%, 
        rgba(31, 219, 132, 0.05) 100%);
        
    }
}