.testimonial-card {
    display: flex !important;
    border-radius: 6px;
    padding-top: 80px;
    padding-bottom: 63px;
    overflow: visible;
    box-shadow: 12px 12px 20px rgba(224, 218, 218, 0.2);
    background: $testimonial-unactive-card-bg-color;
    color: $testimonial-unactive-card-text-color;
    transition: background-color 0.3s,
        box-shadow 0.3s,
        color 0.3s;

   /* &__little-quotes {
        display: block;
        width: 40px;
        height: 40px;
        fill: #1FDB84;  
    }*/
    &__little-quotes {
        width: 49px;
        height: 40px;
        background-color: $mountain-meadow; 
        display: block;
        mask-image: url('/image/quotes_little.svg');
    }
    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 60px;
    }

    &__qoutes {
        display: flex;
        justify-content: flex-start;
    }

    &__text {
        @include text-settings($font-size: 18px, $line-height: 2);
        width: 310px;
        padding-top: 23px;
    }

    &__singature {
        display: flex;
        padding-top: 42px;
        margin-top: auto;
    }

    &__singature-author {
        padding-right: 9px;
        font-weight: 500;
        color: $gulf-blue;
        transition: color 0.3s;
    }

    @media (max-width: 900px) {
      //  max-width: 100%;
       // margin-right: 0;
        margin-bottom: 15.45vw;
        width: 100%;
        margin-top: 20px;
    }

    .slick-current & {
        background-color: $testimonial-active-card-bg-color;
        box-shadow: 12px 12px 40px rgba(31, 219, 132, 0.2);
        color: $testimonial-active-card-color;
        transition: background-color 0.3s,
        box-shadow 0.3s,
        color 0.3s;
        
    }
    .slick-current &__singature-author {
        color: $testimonial-active-card-color;
    }
    .slick-current &__little-quotes {
        background-color: $white;
    }
}

.card-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: -23vw;
}

@media (max-width: 900px) {
    .card-wrapper {
        flex-direction: column;
        margin-left: 0;
    }

    .card-background {
        width: 100%;
    }
}
