.testimonials {
    position: relative;

    &__wrapper {
        position: relative;
        margin-top: 280px;

    }

    &__title {
        max-width: 20%;
        position: absolute;
        color: #031D5B;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.2;
        top: 10%;
        left: 11%;
    }

    &__quotes {
        padding-right: 48px;
        color: rgba(31, 219, 132, 0.1);
        margin-left: 147px;
    }

    &__card:after {
        margin-right: 0;
    }

    &__circles {
        display: flex;

        padding-bottom: 90px;
        margin-left: 100px;
    }
}

.circle {
    width: 20px;
    height: 20px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    margin-right: 16px;
}

.circle:last-child {
    margin-right: 0;
}

.circle-selected {
    width: 20px;
    height: 20px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-right: 16px;
}



/*.card-shift {
    display: block;
}

.gray-text {
   
    
}
.white-text {
    
}
*/
