.testimonials {
    display: block;
    position: relative;
    margin-top: 15.45vw;
    overflow: hidden;
    background: linear-gradient(to left, $testimonial-bg-slider-color 56.25%, $testimonial-bg-color 0);

    
    &__title {
        max-width: 31%;
        position: absolute;
        color: $testimonial-title-color;
        @include text-settings($font-h2, 500, 1.2);
        padding-left: 11.5vw;
        left: 0;
        top: 5%;
    }

    &__quotes {
        padding-right: 7vw;
        color: rgba(31, 219, 132, 0.1);
        padding-left: 10vw;
        padding-top: 30px;

    }

    &__card:after {
        margin-right: 0;
    }
    @media (max-width: 900px) {
        background: $testimonial-bg-small-width;

        &__title {
            max-width: 45%;
            left: 24%;
            font-size: 40px;
            padding-top: 0px;
            top: 5%;
            padding-left: 0;
        }
        &__quotes {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-right: 0vw;
            padding-left: 0;
            padding-top: 0px;
            max-width: 100%;
        }
    }
}


