.testimonials {
    display: block;
    position: relative;
    margin-top: 15.45vw;
    overflow: hidden;
    background: linear-gradient(to left, #313A5A 56.25%, #F2F2F2 0);
    height: 970px;
    
    &__title {
        max-width: 31%;
        position: absolute;
        color: #031D5B;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.2;
        padding-left: 11.5vw;
        left: 0;
        top: 5%;
    }

    &__quotes {
        padding-right: 7vw;
        color: rgba(31, 219, 132, 0.1);
        padding-left: 10vw;
        padding-top: 30px;

    }

    &__card:after {
        margin-right: 0;
    }
    @media (max-width: 900px) {
        flex-direction: column;
        &__title {
            font-size: 40px;
            padding-top: 0px;
            top: 5%;
        }
        &__quotes {
            padding-right: 0vw;
            padding-left: 10vw;
            padding-top: 0px;
            max-width: 100%;
        }
    }
}


