.testimonial-card {
    display: flex !important;
    border-radius: 6px;
    padding-top: 80px;
    padding-bottom: 63px;
    overflow: visible;
    box-shadow: 12px 12px 40px rgba(121, 121, 121, 0.3);
    backdrop-filter: blur(27.1828px);
    background: rgba(255, 255, 255, 0.95);
    color: #5B6C94;

    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 60px;
    }

    &__qoutes {
        display: flex;
        justify-content: flex-start;
    }

    &__text {
        font-size: 18px;
        line-height: 2;
        width: 310px;
        padding-top: 23px;
    }

    &__singature {
        display: flex;
        padding-top: 42px;
        margin-top: auto;
    }

    &__singature-autor {
        padding-right: 9px;
        font-weight: 500;
    }

    @media (max-width: 900px) {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 15.45vw;

        &__circles {
            padding-top: 0;
            padding-bottom: 15.45vw;
        }
    }

    .slick-current & {
        background-color: #1FDB84;
        box-shadow: 12px 12px 40px rgba(31, 219, 132, 0.5);
        color: #FFFFFF;
        backdrop-filter: blur(27.1828px); // ?
    }
}


.card-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: -23vw;


}


.green-qoutes {
    color: #1FDB84;
}

@media (max-width: 900px) {
    .card-wrapper {
        flex-direction: column;
        margin-left: 0;
    }

    .card-background {
        width: 100%;
    }
}

.card-background-for-test {
    //  display: flex;
    //  flex-direction: column;
    // padding-top: 15.45vw;
    // background: #313A5A;
    // width: 56.25%;

}