.testimonial-card {

    display: flex;
    max-width: 40%;
    border-radius: 6px;
    margin-right: 40px;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 50px;
        padding-right: 60px;
    }

    &__qoutes {
        display: flex;
        justify-content: flex-start;
        padding-top: 80px;
        padding-bottom: 23px;
    }

    &__text {
        font-size: 18px;
        line-height: 2;
        //max-width: 70%;
        width: 310px;
    }

    &__singature {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 63px;
        margin-top: auto;
        padding-top: 42px;
    }

    &__singature-autor {
        padding-right: 9px;
        font-weight: 500;
    }

    &--selected {
        background-color: #1FDB84;
        // color: #FFFFFF;
        box-shadow: 12px 12px 40px rgba(31, 219, 132, 0.5);
        color: #FFFFFF;
    }

    &--not-selected {
        box-shadow: 12px 12px 40px rgba(121, 121, 121, 0.3);
        background: #FFFFFF;
        color: #5B6C94;
    }
    &__circles {
        display: flex;
       // position: absolute;
        padding-bottom: 90px;
    // margin-left: 100px;
      //  bottom: 0;
      padding-left: 100px;
        padding-top: 100px;
        
    }
}

.card-wrapper {
    display: flex;
    justify-content: flex-start;
    //margin-top: 260px;
   // margin-bottom: 100px;
    //right: 0%;
    margin-left: -13vw;
    
}

.card-background {
    display: flex;
    flex-direction: column;
   // position: absolute;
   padding-top: 15.45vw;
    background: #313A5A;
 //   top: -30px;
   // margin-left: 45vw;
    
}

.black-autor {
    color: #031D5B;
}

.green-qoutes {
    color: #1FDB84;
}