* {
    box-sizing: border-box;
    margin: 0;
   padding: 0;
  }
body {
 // display: flex;
 //flex-direction: column;
 height: 4350px;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
   height: 100%; // низ страницы поднялся до последней секции
}
html {
 // position: relative;
 height: 100%;

 
}/*
.wrapper-wrapper2 {
  display: table;
	height: 100%;
}*/



