.button {
  font-style: normal;
  font-weight: 800;
  text-align: center;
  color: #FFFFFF;
  background: #1FDB84;
  border-radius: 5px 0px;
  box-shadow: 0px 8px 34px rgba(31, 219, 132, 0.6);
  transition: 0.5s;
  padding: 21px 47px;
  &--small {
    padding: 4px 24.5px 2px 26.5px;
  }
  @media (max-width: 900px) {
    //padding: 10px 23px;
  }
}
.button:hover {
  background: rgb(23, 170, 102);
}
