.button {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    background: #1FDB84;
    box-shadow: 0px 8px 34px rgba(31, 219, 132, 0.6);
    border-radius: 5px 0px;
  }
  