 
 // colors
 
 $pickled-bluewood: #313A5A;
 $white: #FFFFFF;
 $porcelain: #f4f5f6;
 $concrete: #F2F2F2;
 $gulf-blue: #031D5B;
 $waikawa-gray: #5B6C94;
 $martinique: #32325C; 
 $mountain-meadow: #1FDB84;
 $aero-blue: #AEFDD9;
 $bermuda: #6FDEAA;
 $azure-radiance: #0A8AFF;
 $pickled-bluewood: #313A5A;
 

 // backgrounds

 $header-bg-color: $pickled-bluewood;
 $hero-section-bg-color: $pickled-bluewood;
 $benefits-form-color: $white;
 $benefits-bg-color: $porcelain;
 $pricing-active-card-color: $white;
 $plan-monthly-bg: $white;
 $priving-unactive-card-color: $porcelain;
 $testimonial-bg-color: $porcelain;
 $testimonial-bg-slider-color: $pickled-bluewood;
 $footer-bg-color: $porcelain;
 $body-bg-color: $concrete;
 $pricing-card-bg-color: $white;
 $pricing-card-border-color: $azure-radiance;
 $testimonial-bg-color: $concrete;
 $testimonial-unactive-card-bg-color: $porcelain;  
 

 // button color

 $button-bg-color: $mountain-meadow;


 
 // text color

$header-text-color: $white;
$hero-section-text-color: $white;
$benefits-item-heading-color: $gulf-blue;
$benefits-item-description-color: $waikawa-gray;
$pricing-title-color: $martinique;
$pricing-card-plan-color: $martinique;
$pricing-card-cost-color: $mountain-meadow;
$pricing-card-per-month-color: $waikawa-gray;
$pricing-card-list-color: $waikawa-gray;
$testimonial-title-color: $gulf-blue; 
$testimonial-bg-small-width: $concrete;
$testimonial-unactive-card-text-color: $waikawa-gray;
$testimonial-unactive-card-author-color: $gulf-blue;
$testimonial-active-card-bg-color: $mountain-meadow;
$testimonial-active-card-color: $white;
$partners-title-color: $gulf-blue;
$footer-text-color: $waikawa-gray;



// elements

$benefits-hr-bg-color: $mountain-meadow;
$benefits-hr-color: $mountain-meadow;
$pricing-plan-border-color: $aero-blue;
$pricing-card-top-color: $azure-radiance;
$testimonial-active-card-quotes-color: $mountain-meadow;
$link-color: $white;

